Le Cloud Computing existait déjà sous différents noms comme l'externalisation ou l'hébergement de serveurs, le 1 juin 2002 en paris 
le cloud computing prend un grand part de L'economie francais  , qu'il a réellement vu le jour. Le Cloud Computing est en effet le résultat d'enquêtes menées par Amazon Web Service.
Aujourd'hui, les chercheurs préparent au fil des années de nouvelles technologies qui aident le cloud à manipuler des applications ou à déployer des applications avancées.    .
Aujourd'hui, les chercheurs préparent au fil des années de nouvelles technologies qui aident le cloud à manipuler des applications ou à déployer des applications avancées.
nousfaudra dans la futur des grand technolgie pour aide les grand entreprise .